<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wix'>
    <Product
        Name='OpenVPN 2.3.1'
        Id='d9b18e7f-1930-400c-b943-92b215d3b7ff'
        UpgradeCode='TODO'
        Language='1033'
        Codepage='utf-8'
        Version='2.3.1'
        Manufacturer='OpenVPN Technologies, Inc.' >
        <Package
            Id='*'
            Keywords='Installer'
            Description='OpenVPN 2.3.1 MSI'
            Comments='OpenVPN is a registered trademark of OpenVPN Technologies, Inc.'
            Manufacturer='Elias Probst'
            InstallerVersion='1'
            Languages='1033'
            Compressed='yes'
            SummaryCodepage='utf-8' />
        <Directory Id='ProgramFilesFolder' Name='PFiles'>
            <Directory Id='OpenVPN' Name='OpenVPN'>
                <Directory Id='INSTALLDIR' Name='OpenVPN 2.3.1'>
                    <Directory Id='OpeVPN-Binaries' Name='bin'>
                        <Component Id='OpenVPN-Client-Binary' Guid='41564918-3fa4-4713-8ef4-5afb9d4aa152'>
                            <File Id='openvpn.exe' Name='openvpn.exe' Source='resources/openvpn-install-2.3.1-I001-x86_64/bin/openvpn.exe' KeyPath='yes'>
                            </File>
                        </Component>
                        <Component Id='OpenVPN-Client-GUI' Guid='fc7ef111-379b-45d7-b7bf-5ba7c2b78d85'>
                            <File Id='openvpn-gui.exe' Name='openvpn-gui.exe' Source='resources/openvpn-install-2.3.1-I001-x86_64/bin/openvpn-gui.exe' KeyPath='yes'>
                                <Shortcut
                                    Id='OpenVPN-Client-GUI-Shortcut-Desktop'
                                    Directory='ProgramMenuDir'
                                    Name='OpenVPN GUI'
                                    WorkingDirectory='INSTALLDIR'
                                    Icon='openvpn-gui.exe'
                                    IconIndex='0'
                                    Advertise='yes' />
                            </File>
                        </Component>
                        <Component Id='OpenVPN-Server-Binary' Guid=''>
                            <File Id='openvpnsrv.exe' Name='openvpnserv.exe' Source='resources/openvpn-install-2.3.1-I001-x86_64/bin/openvpnserv.exe' KeyPath='yes'>
                            </File>
                        </Component>
                        <Component Id='OpenSSL-Binary' Guid=''>
                            <File Id='openssl.exe' Name='openssl.exe' Source='resources/openvpn-install-2.3.1-I001-x86_64/bin/openssl.exe' KeyPath='yes'>
                            </File>
                        </Component>
                        <Component Id='OpenSSL' Guid=''>
                            <File Id='openssl.exe' Name='openssl.exe' Source='resources/openvpn-install-2.3.1-I001-x86_64/bin/openssl.exe' KeyPath='yes'>
                            </File>
                        </Component>
                        <Component Id='' Guid=''>
                            <File Id='' Name='' Source='' KeyPath='yes'>
                            </File>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
    </Product>
</Wix>
