<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <!-- TODO: I'm still a bit unsure what the proper values to put here are... -->
    <Product
        Name='OpenVPN 2.3.1'
        Id='d9b18e7f-1930-400c-b943-92b215d3b7ff'
        UpgradeCode='efd94600-a3b8-11e2-9e96-0800200c9a66'
        Language='1033'
        Codepage='1252'
        Version='2.3.1'
        Manufacturer='OpenVPN Technologies, Inc.' >
        <!-- TODO: I'm still a bit unsure what the proper values to put here are... -->
        <Package
            Id='*'
            Keywords='Installer'
            Description='OpenVPN 2.3.1 MSI'
            Comments='OpenVPN is a registered trademark of OpenVPN Technologies, Inc.'
            Manufacturer='Elias Probst'
            InstallerVersion='1'
            Languages='1033'
            Compressed='yes'
            SummaryCodepage='1252' />
        <Media Id='1' />
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFilesFolder' Name='PFiles'>
                <Directory Id='OpenVPN' Name='OpenVPN'>
                    <Directory Id='INSTALLDIR' Name='OpenVPN 2.3.1'>
                        <Directory Id='OpenVPN_Binaries' Name='bin' FileSource='resources\openvpn-install-2.3.1-I001-x86_64\bin'>
                            <Component Id='OpenVPN_Client_Binary' Guid='41564918-3fa4-4713-8ef4-5afb9d4aa152'>
                                <File Id='openvpn.exe' Name='openvpn.exe' Source='openvpn.exe' KeyPath='yes'>
                                </File>
                            </Component>
                            <Component Id='OpenVPN_Client_GUI' Guid='fc7ef111-379b-45d7-b7bf-5ba7c2b78d85'>
                                <File Id='openvpn_gui.exe' Name='openvpn-gui.exe' Source='openvpn-gui.exe' KeyPath='yes'>
                                    <Shortcut
                                        Id='OpenVPN_Client_GUI_Shortcut_Desktop'
                                        Directory='ProgramMenuDir'
                                        Name='OpenVPN GUI'
                                        WorkingDirectory='INSTALLDIR'
                                        Icon='openvpn_gui.exe'
                                        IconIndex='0'
                                        Advertise='yes' />
                                </File>
                            </Component>
                            <Component Id='OpenVPN_Server_Binary' Guid=''>
                                <File Id='openvpnsrv.exe' Name='openvpnserv.exe' Source='openvpnserv.exe' KeyPath='yes'>
                                </File>
                            </Component>
                            <Component Id='OpenSSL_Binary' Guid=''>
                                <File Id='openssl.exe' Name='openssl.exe' Source='openssl.exe' KeyPath='yes'>
                                </File>
                            </Component>
                            <Component Id='libeay32_library' Guid=''>
                                <File Id='libeay32.dll' Name='libeay32.dll' Source='libeay32.dll' KeyPath='yes'>
                                </File>
                            </Component>
                            <Component Id='liblzo2_library' Guid=''>
                                <File Id='liblzo2_2.dll' Name='liblzo2-2.dll' Source='liblzo2-2.dll' KeyPath='yes'>
                                </File>
                            </Component>
                            <Component Id='libpkcs11_helper_1_library' Guid=''>
                                <File Id='libpkcs11_helper_1.dll' Name='libpkcs11-helper-1.dll' Source='libpkcs11-helper-1.dll' KeyPath='yes'>
                                </File>
                            </Component>
                            <Component Id='ssleay32_library' Guid=''>
                                <File Id='ssleay32.dll' Name='ssleay32.dll' Source='ssleay32.dll' KeyPath='yes'>
                                </File>
                            </Component>
                            <!--
                                TODO: The following 2 files (addtap.bat + deltap.bat) need to be written using a custom action
                                during the installation as they contain dynamic content depending on INSTALLDIR etc.
                                Some information regarding "custom actions":
                                http://stackoverflow.com/questions/2372978/wix-customaction-execommand-hide-console
                                http://wix.sourceforge.net/manual-wix3/qtexec.htm
                            -->
                            <!--
                            <Component Id='addtap-script' Guid=''>
                                <File Id='addtap.bat' Name='addtap.bat' KeyPath='no'>
                                </File>
                                # Content taken from tap-windows.nsi:
                                rem Add a new TAP virtual ethernet adapter$\r$\n
                                "$INSTDIR\bin\${DEVCON_BASENAME}" install "$INSTDIR\driver\OemWin2k.inf" ${PRODUCT_TAP_WIN_COMPONENT_ID}$\r$\n
                                pause$\r$\n
                            </Component>
                            <Component Id='deltap-script' Guid=''>
                                <File Id='deltap.bat' Name='deltap.bat' KeyPath='no'>
                                </File>
                                # Content taken from tap-windows.nsi:
                                echo WARNING: this script will delete ALL TAP virtual adapters (use the device manager to delete adapters one at a time)$\r$\n
                                pause$\r$\n
                                "$INSTDIR\bin\${DEVCON_BASENAME}" remove ${PRODUCT_TAP_WIN_COMPONENT_ID}$\r$\n
                                pause$\r$\n
                            </Component>
                            -->
                            <!-- empty skeleton
                            <Component Id='' Guid=''>
                                <File Id='' Name='' Source='' KeyPath='yes'>
                                </File>
                            </Component>
                            -->
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id='ProgramMenuFolder' Name='Programs'>
                <Directory Id='ProgramMenuDir' Name='OpenVPN 2.3.1'>
                    <Component Id='ProgramMenuDir' Guid=''>
                        <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
                        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id='DesktopFolder' Name='Desktop' />
        </Directory>
        <Feature Id='Complete' Level='1'>
            <ComponentRef Id='OpenVPN_Client_Binary' />
            <ComponentRef Id='OpenVPN_Client_GUI' />
            <ComponentRef Id='OpenVPN_Server_Binary' />
            <ComponentRef Id='OpenSSL_Binary' />
            <ComponentRef Id='libeay32_library' />
            <ComponentRef Id='liblzo2_library' />
            <ComponentRef Id='libpkcs11_helper_1_library' />
            <ComponentRef Id='ssleay32_library' />
            <!--
                 TODO: Enable the following components
            <ComponentRef Id='addtap-script' />
            <ComponentRef Id='deltap-script' />
            -->
            <ComponentRef Id='ProgramMenuDir' />
        </Feature>
        <Icon Id='openvpn_gui.exe' SourceFile='openvpn-gui.exe' />
    </Product>
</Wix>
